#bodyNewBooking {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.form-container {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #00ffff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: #cccccc;
}

input {
  padding: 0.75rem;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: #ffffff;
}

input:focus {
  outline: 2px solid #00ffff;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #00bcd4;
  color: #121212;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0097a7;
}

.typeRoomContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

select {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #444;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

select:focus {
  border-color: #00ffff;
  box-shadow: 0 0 0 2px rgba(0, 255, 255, 0.4);
}

option {
  background-color: #2c2c2c;
  color: #fff;
}

.buttonSend {
  max-height: 3.2rem;
}